<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Doctor Finder</title>

<link rel="stylesheet" type="text/css" href="../static/css/general.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/menu_style.css"/>
</head>

<body>

<div id="main">
<div id="wrapper">
	<div id="banner">
    	<h1>DOCTOR & HOSPITAL FINDER</h1>
    </div>
    <div id="menu">
     <ul id="css3menu1" class="topmenu">
	<li class="topmenu"><a href="/" style="height:16px;line-height:16px;">Home</a></li>
	<li class="topmenu"><a href="about" style="height:16px;line-height:16px;">About Us</a></li>
	<li class="topmenu"><a href="contact" style="height:16px;line-height:16px;">Contact</a></li>

    <li class="topmenu"><a href="search" style="height:16px;line-height:16px;">Search Doctor</a></li>
    <li class="topmenu"><a href="Login" style="height:16px;line-height:16px;">Login</a></li>

</ul>
 </div>
    <div id="middle">



    	<div id="content">

            {% block m1 %}
            {% endblock %}

        </div>




        <div id="ad">

        </div>
    </div>
    <div id="bottom">
        <p>Copyright &copy; 2018, All rights reserved</p>
    </div>
</div>
</div>


</body>
</html>
