<html>
<head>
<title>Hospital </title>
<link href="../static/css/A2.css" rel="stylesheet" type="text/css">
</head>
    <div class="main">
        <div class="wrapper">
            <div class="header">
            <img src="../static/images/A2.jpg" width=100%px height="200px">
            </div>
            <div class="menu">
            <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">SEARCH DOCTOR</a></li>
            <li><a href="login">LOGIN</a></li>
            </ul>
            </div>
            <div class="middle">
                <div class="content1">

                {% block m1 %}
                {% endblock %}
                 </div>
         <div class="content2">
         </div>
        </div>
      <div class="footer">
      <h1>copy right &copy;by hospital 2019</h1>
      </div>
   </div>
</div>
</body>
</html>
