<h1>Profile</h1>
{% if data %}
    <form method="post" action="admin_profile">
        <p>Name : <input value="{{data[0]}}" type="text" name="T1" /> </p>
        <p>Address : <input value="{{data[1]}}" type="text" name="T2" /></p>
        <p>Contact : <input value="{{data[2]}}" type="text" name="T3" /></p>
        <p>Email : <input readonly value="{{data[3]}}" type="text" name="T4" /></p>
        <p><input type="submit" name="B1" value="Save Changes" /> </p>
    </form>
{% elif data1 %}
    <h2>{{ data1 }}</h2>
{% endif %}