<h1>Edit and Save</h1>

{% if kota %}
    <form  method="post" action="edit_hospital_1">
  <p>Name
    <input value="{{kota[0]}}" type="text" name="T1" id="T1" />
  </p>
  <p>Speciality
    <input value="{{kota[1]}}" type="text" name="T2" id="T2" />
  </p>
  <p>Address
    <input value="{{kota[2]}}" type="text" name="T3" id="T3" />
  </p>
  <p>Contact
    <input value="{{kota[3]}}" type="text" name="T4" id="T4" />
  </p>
  <p>Ac
    <input value="{{kota[4]}}" type="text" name="T5" id="T5" />
  </p>
  <p>Non ac
    <input value="{{kota[5]}}" type="text" name="T6" id="T6" />
  </p>
  <p>Email
    <input readonly value="{{kota[6]}}" type="text" name="T7" id="T7" />
  </p>
  <p>
    <input type="submit" name="B1" id="B1" value="Save" />
  </p>
</form>
{% elif jpr %}
    <h3>{{ jpr }}</h3>
{% endif %}

