{% extends 'A.html' %}
{% block m1 %}
<h1> Profile</h1>
{% if data %}
    <form method="post" action="hospital_profile">
        <p>Name: <input type="text" value="{{data[0]}}" name="T1"/> </p>
        <p>Speciality: <input type="text" value="{{data[1]}}" name="T2"/> </p>
        <p>Address: <input type="text" value="{{data[2]}}" name="T3"/> </p>
        <p>Contact <input type="text" value="{{data[3]}}" name="T4"/> </p>
        <p>AC Beds<input type="text" value="{{data[4]}}" name="T5"/> </p>
        <p>Non Ac beds <input type="text" value="{{data[5]}}" name="T6"/> </p>
        <p>Email: <input readonly type="text" value="{{data[6]}}" name="T7"/> </p>
        <p><input type="submit" value="Save changes" name="B1"/> </p>

    </form>
{% elif data1 %}
    <h2>{{data1}}</h2>
{% endif %}
{% endblock %}