<h1>Hospitals</h1>

{% if kota %}
    {% for a in kota %}
        <h3>Name : {{ a[0] }}</h3>
        <p>
            Speciality : {{ a[1] }} <br/>
            Address : {{ a[2] }} <br/>
            Contact : {{ a[3] }} <br/>
            Ac Beds : {{ a[4] }}<br/>
            Non Ac Beds : {{ a[5] }}<br/>
            Email : {{ a[6] }}
        </p>

        <form method="post" action="edit_hospital">
            <input type="hidden" name="H1" value="{{ a[6] }}" />
            <input type="submit" name="B1" value="Edit" />
        </form>

    {% endfor %}
{% elif jpr %}
    <h3>{{ jpr }}</h3>
{% endif %}